[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
# Disable `unsubscriptable-object` until false positive is fixed
# https://github.com/PyCQA/pylint/issues/1498
disable=unsubscriptable-object
