[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.10.0"
halo = {ref = "multiple-spinners", git = "https://github.com/frostming/halo/"}
pyinquirer = "==1.0.3"
requests = "==2.26.0"

[dev-packages]
pyinstaller = "==4.7"
pylint = "==2.12.2"
responses = "==0.16.0"

[requires]
python_version = "3.9"
